//colors
$accentColor: #00a652;
$darkColor: #000000;
$lightColor: #ffffff;
$greenColor: #065746;
$redColor: #d96762;
$blueColor: #0b4d65;

//fonts
$font: "";

//
$t: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

// breakpoints
$br1600: 1600px;
$br1440: 1440px;
$br1170: 1170px;
$br960: 960px;
$br780: 780px;
$br560: 560px;
$br440: 440px;

// grid
$cols: 12;
$offset: 15px;
