//colors
$accentColor: #ed11ee;
$darkColor: #1e1e1e;
$lightColor: #ffffff;
$greenColor: #065746;
$redColor: #d96762;
$blueColor: #0b4d65;

//fonts
$firstFont: "Exo 2", sans-serif;
$secondFont: "Roboto", sans-serif;

//
$transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

//
$radius: 15px;
