//colors
$primary: #2E43FE;
$secondary: #f6f7f9;
$light: #ffffff;
$dark: #000000;
$gray: rgba(#000000, 0.7);
$muted: rgba(#000000, 0.2);
$bg: rgba(#d9d9d9, 0.3);
// 
$notChromeBg: #eaebec;
//fonts
$font: "PxGrotesk",
sans-serif;
//
$t: all 0.25s ease;
// breakpoints
$xl: 1440px;
$lg: 1170px;
$md: 960px;
$sm: 780px;
$xs: 560px;
// grid
$container-full: 1320px;
$container-xl: $lg;
$container-lg: $md;
$container-md: $sm;
$container-sm: $xs;
$container-xs: 420px;
$cols: 12;
$offset: 20px;
// styles
$radius-lg: 22px;
$radius-md: 16px;
$radius-sm: 10px;