@import "_fonts";
@import "_var";
@import "_zeroing";
@import "_mixins.scss";
@import "_tags";
@import "_glob-modifiers";
@import "main/**/*.scss";
@import "simple/**/*.scss";
@import "advanced/**/*.scss";
@media (hover: hover) {
     ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background: $secondary;
    }
     ::-webkit-scrollbar-thumb {
        background: $primary;
    }
}

::selection {
    background-color: $primary;
    color: $light;
}