.b-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 50px;
  @include fz(16px, 16px);
  text-align: center;
  @include sm {
    padding: 16px 36px;
  }
}

.b-button_green {
  background-color: $greenColor;
  color: $lightColor;
}
.b-button_red {
  background-color: $redColor;
  color: $lightColor;
}
.b-button_blue {
  background-color: $blueColor;
  color: $lightColor;
}
.b-button_black {
  background-color: $darkColor;
  color: $lightColor;
}

.b-button_upper {
  text-transform: uppercase;
}
.b-button_radius {
  border-radius: $radius/3;
}
.b-button_shadow {
  box-shadow: 0 5px 15px 0 rgba(#000, 0.15);
}
.b-button_italic {
  font-style: italic;
}
.b-button_bold {
  font-weight: 700;
}
