.b-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 15px 35px;
  @include fz(16px, 16px);
  font-weight: 400;
  outline: none;
}
.b-button_underline {
  position: relative;
  &:after {
    content: "";
    width: calc(100% + 2px);
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: -1px;
    background-color: #262626;
    animation: paginationLinkActiveAnim 0.8s linear infinite alternate;
  }
}
.b-button_green {
  background-color: $greenColor;
  color: $lightColor;
}
.b-button_red {
  background-color: $redColor;
  color: $lightColor;
}
.b-button_blue {
  background-color: $blueColor;
  color: $lightColor;
}
.b-button_black {
  background-color: $darkColor;
  color: $lightColor;
}
.b-button_opacity {
  background-color: transparent;
}
.b-button_border-none {
  border-color: transparent;
}
.b-button_upper {
  text-transform: uppercase;
}
