.b-first-slider {
  position: relative;
  width: 100%;
}
.b-first-slider__inner {
  @include flex-row;
  @include row;
}
.b-first-slider__slider {
  @include col(10);
  @include col-lg(9);
  @include col-sm(8);
}
.b-first-slider__list {
  width: 100%;
}
.b-first-slider__slide {
}
.b-first-slider__arrow {
  @include col(1);
  @include col-lg(1.5);
  @include col-sm(2);
  height: 100px;
  background-color: red;
}
.b-first-slider__arrow_prew {
}
.b-first-slider__arrow_next {
}
