.b-header {
  position: relative;
}
.b-header_dark {
  background-color: #fff;
}
.b-header__fixed {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
.b-header__inner {
  @include wrapper;
  padding-top: 10px;
  padding-bottom: 10px;
}
.b-header__row {
  @include flex-row;
  width: 100%;
  align-items: center;
}
.b-header__row_mb {
  margin-bottom: 20px;
  @include md {
    margin-bottom: 0;
  }
}
.b-header__row_ai-center {
  align-items: center;
}
.b-header__row_jc-end {
  justify-content: flex-end;
}
.b-header__col-left {
  width: 250px;
  margin-right: 15px;
  @include md {
    width: 180px;
  }
  @include xs {
    width: 140px;
  }
}
.b-header__col-right {
  width: calc(100% - 250px - 15px);
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  @include md {
    width: calc(100% - 180px - 15px);
  }
  @include xs {
    width: calc(100% - 140px - 15px);
  }
}
.b-header__menu {
  margin-left: auto;
  @include md {
    display: none;
  }
}
.b-header__logo {
}
.b-header_mail {
  margin-right: 25px;
  @include lg {
    margin-right: 15px;
  }
  @include to(660px) {
    display: none;
  }
}
.b-header_phone {
  @include md {
    margin-right: 15px;
  }
  @include to(660px) {
    display: none;
  }
}
