.b-menu {
}
.b-manu_italic {
  font-style: italic;
}
.b-menu_underline {
  text-decoration: underline;
}
.b-menu_light {
  color: $lightColor;
}
.b-menu_dark {
  color: $darkColor;
}
.b-menu > ul {
  @include flex-row;
  margin: -8px;
}
.b-menu > ul > li {
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
  &.active {
    font-weight: 700;
  }
  margin: 2px;
}
.b-menu > ul > li > a,
.b-menu > ul > li > span {
  @include fz(16px, 18px);
  display: block;
  padding: 6px;
  @include inh;
}
