.b-mobile-menu-trigger {
  position: relative;
  transition: $transition;
  width: 50px;
  height: 28px;
  cursor: pointer;
  &:hover {
    & .b-mobile-menu-trigger__line {
      transform: translate(-50%) scaleX(0.8);
    }
  }
  display: none;
  @include md {
    display: flex;
  }
  @include xs {
    width: 38px;
    height: 22px;
  }
}
.b-mobile-menu-trigger_dark {
  & .b-mobile-menu-trigger__line {
    background-color: $darkColor;
  }
}
.b-mobile-menu-trigger_light {
  & .b-mobile-menu-trigger__line {
    background-color: #fff;
  }
}
.b-mobile-menu-trigger_active {
  justify-content: center;
  .b-mobile-menu-trigger__line:nth-child(1) {
    transform: translate(-50%) scaleX(1) rotate(45deg);
    top: calc(50% - (3px / 2));
  }
  .b-mobile-menu-trigger__line:nth-child(2) {
    transform: translate(-50%) scaleX(1);
    top: calc(50% - (3px / 2));
    display: none;
  }
  .b-mobile-menu-trigger__line:nth-child(3) {
    transform: translate(-50%) scaleX(1) rotate(-45deg);
    top: calc(50% - (3px / 2));
  }
}
.b-mobile-menu-trigger__line {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  transition: $transition;
  @include xs {
    height: 2px;
  }

  &:nth-child(1) {
    top: 0;
    transform: translate(-50%) scaleX(1);
  }
  &:nth-child(2) {
    top: calc(50% - (3px / 2));
    transform: translate(-50%) scaleX(1);
  }
  &:nth-child(3) {
    top: calc(100% - 3px);
    transform: translate(-50%) scaleX(1);
  }
}
