.b-modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.b-modal-box_df {
  display: flex;
}
.b-modal-box_op1 {
  opacity: 1;
}
.b-modal__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
$modalWidth: 960px;
$modalWidthMedium: 780px;
$modalWidthSmall: 560px;
.b-modal {
  z-index: 2;
  background-color: #fff;
  padding: 15px;
  width: 90%;
  height: 90%;
  max-width: $modalWidth;
  max-height: calc(#{$modalWidth} / 1.777);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
  transform: scale(0);
}
.b-modal_scale1 {
  transform: scale(1);
}
.b-modal_medium {
  max-width: $modalWidthMedium;
  max-height: calc(#{$modalWidthMedium} / 1.777);
}
.b-modal_small {
  max-width: $modalWidthSmall;
  max-height: calc(#{$modalWidthSmall} / 1.777);
}
.b-modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.b-modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.b-modal__title {
  width: 100%;
  max-width: calc(100% - 50px);
  margin-right: 10px;
}
.b-modal__close {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #363636;
    transform: translateY(-50%) rotate(-45deg);
    border-radius: $radius;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #363636;
    transform: translateY(-50%) rotate(45deg);
    border-radius: $radius;
  }
  &:hover {
    transform: rotate(90deg);
    opacity: 0.8;
  }
}
.b-modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
