.b-preloader{
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.b-preloader__logo{
    animation: logoAnim2 4s ease-in-out infinite !important;
}
@keyframes logoAnim2{
    0%{
        transform: rotateY(0deg)
    }
    50%{
        transform: rotateY(360deg)
    }
    100%{
        transform: rotateY(360deg)
    }
}