.b-section {
    position: relative;
}

.b-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.b-section_padding-small {
    padding-top: 80px;
    padding-bottom: 80px;
}

.b-section_padding-norm {
    padding-top: 100px;
    padding-bottom: 100px;
}

.b-section_padding-big {
    padding-top: 120px;
    padding-bottom: 120px;
}

// 
.b-section__content {
    position: relative;
    @include wrapper;
    z-index: 2;
}