.b-tabs {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  margin-top: -10px;
  @include flex-colm;
}

.b-tab {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

.b-tab__header {
  position: relative;
  cursor: pointer;
  padding-bottom: 6px;
  user-select: none;
  width: 100%;

  @include flex-row;
  &.active {
    .b-tab__icon i {
      transform: rotate(-90deg);
    }
  }
}
.b-tab__title {
  @include fz(16px, 18px);
  font-weight: 700;
}
.b-tab__icon {
  margin-left: auto;
  margin-right: 3px;
  pointer-events: none;
  @include fz(12px, 12px);
  & i {
    transition: $transition;
    transform: rotate(90deg);
  }
}
.b-tab__header_italic {
  font-style: italic;
}
.b-tab__header_border-bottom {
  border-bottom: 1px solid $darkColor;
}

.b-tab__content {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.b-tab__content_italic {
  font-style: italic;
}
.b-tab__content p {
  @include inh;
}
