.b-title {
  font-weight: 700;
}
.b-title_light {
  color: $lightColor;
}
.b-title_dark {
  color: $darkColor;
}
.b-title_big {
  @include fz(48px, 60px);
}
.b-title_norm {
  @include fz(30px, 36px);
}
.b-title_small {
}
.b-title_italic {
  font-style: italic;
}
.b-title_center {
  text-align: center;
}
.b-title_right {
  text-align: right;
}
