h1 {
  font-size: 30px;
  line-height: 34px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

h2 {
  font-size: 27px;
  line-height: 31px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

h4 {
  font-size: 21px;
  line-height: 25px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

h5 {
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

h6 {
  font-size: 15px;
  line-height: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: 900; }

p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px; }

strong {
  font-weight: 900; }

/*  ---------------------------------------------------------------------------
    Template for connecting fonts
    ---------------------------------------------------------------------------
    100 - Thin
    200 - Extra Light (Ultra Light)
    300 - Light
    400 - Regular (Normal)
    500 - Medium
    600 - Semi Bold (Demi Bold)
    700 - Bold
    800 - Extra Bold (Ultra Bold)
    900 - Black (Heavy)  */
@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Thin.eot");
  src: url("../font/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Thin.woff2") format("woff2"), url("../font/Roboto/Roboto-Thin.woff") format("woff"), url("../font/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-ThinItalic.eot");
  src: url("../font/Roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../font/Roboto/Roboto-ThinItalic.woff") format("woff"), url("../font/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Light.eot");
  src: url("../font/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Light.woff2") format("woff2"), url("../font/Roboto/Roboto-Light.woff") format("woff"), url("../font/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-LightItalic.eot");
  src: url("../font/Roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-LightItalic.woff2") format("woff2"), url("../font/Roboto/Roboto-LightItalic.woff") format("woff"), url("../font/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Regular.eot");
  src: url("../font/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto/Roboto-Regular.woff") format("woff"), url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Italic.eot");
  src: url("../font/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Italic.woff2") format("woff2"), url("../font/Roboto/Roboto-Italic.woff") format("woff"), url("../font/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Medium.eot");
  src: url("../font/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto/Roboto-Medium.woff") format("woff"), url("../font/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-MediumItalic.eot");
  src: url("../font/Roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../font/Roboto/Roboto-MediumItalic.woff") format("woff"), url("../font/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Bold.eot");
  src: url("../font/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto/Roboto-Bold.woff") format("woff"), url("../font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-BoldItalic.eot");
  src: url("../font/Roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../font/Roboto/Roboto-BoldItalic.woff") format("woff"), url("../font/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Black.eot");
  src: url("../font/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Black.woff2") format("woff2"), url("../font/Roboto/Roboto-Black.woff") format("woff"), url("../font/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-BlackItalic.eot");
  src: url("../font/Roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../font/Roboto/Roboto-BlackItalic.woff") format("woff"), url("../font/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-Light.eot");
  src: url("../font/Open_Sans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-Light.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-Light.woff") format("woff"), url("../font/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-LightItalic.eot");
  src: url("../font/Open_Sans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-LightItalic.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-LightItalic.woff") format("woff"), url("../font/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-Regular.eot");
  src: url("../font/Open_Sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-Regular.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-Regular.woff") format("woff"), url("../font/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-Italic.eot");
  src: url("../font/Open_Sans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-Italic.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-Italic.woff") format("woff"), url("../font/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-SemiBold.eot");
  src: url("../font/Open_Sans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-SemiBold.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-SemiBold.woff") format("woff"), url("../font/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-SemiBoldItalic.eot");
  src: url("../font/Open_Sans/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-SemiBoldItalic.woff") format("woff"), url("../font/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-Bold.eot");
  src: url("../font/Open_Sans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-Bold.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-Bold.woff") format("woff"), url("../font/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-BoldItalic.eot");
  src: url("../font/Open_Sans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-BoldItalic.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-BoldItalic.woff") format("woff"), url("../font/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-ExtraBold.eot");
  src: url("../font/Open_Sans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-ExtraBold.woff") format("woff"), url("../font/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/Open_Sans/OpenSans-ExtraBoldItalic.eot");
  src: url("../font/Open_Sans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/Open_Sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../font/Open_Sans/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../font/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

._text-accent {
  color: #ed11ee; }

._text-dark {
  color: #262626; }

._text-light {
  color: #ffffff; }

._text-bold {
  font-weight: 900; }

._text-thin {
  font-weight: 100; }

._text-center {
  text-align: center; }

._text-right {
  text-align: right; }

._bg-accent {
  background-color: #ed11ee; }

._bg-light {
  background-color: #ffffff; }

._bg-dark {
  background-color: #262626; }

._abs-left-top {
  position: absolute;
  top: 0;
  left: 0; }

._abs-left-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }

._abs-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0; }

._abs-center-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

._abs-center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

._abs-center-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

._abs-right-top {
  position: absolute;
  top: 0;
  right: 0; }

._abs-right-center {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }

._abs-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0; }

._rel-left {
  position: relative;
  left: 0; }

._rel-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.rel-right {
  position: relative;
  left: 100%;
  transform: translateX(-100%); }

.b-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden; }

.b-modal_open {
  visibility: visible; }
  .b-modal_open .b-modal__inner {
    transform: translate(-50%, -50%); }

.b-modal__close {
  width: 35px;
  height: 35px;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.15s ease-in-out; }
  .b-modal__close:hover {
    transform: scale(1.05); }
  .b-modal__close:before, .b-modal__close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 10%;
    background-color: #262626; }
  .b-modal__close:before {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .b-modal__close:after {
    transform: translate(-50%, -50%) rotate(45deg); }

.b-modal__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%);
  width: 100%;
  max-width: 1170px;
  height: 100%;
  max-height: 768px;
  background: #ffffff;
  padding: 70px 35px;
  transition: all 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 1200px) {
    .b-modal__inner {
      width: 85%;
      height: 85%;
      padding: 60px 30px; } }
  @media screen and (max-width: 960px) {
    .b-modal__inner {
      width: 90%;
      height: 90%;
      max-height: 100%;
      padding: 50px 25px; } }
  @media screen and (max-width: 768px) {
    .b-modal__inner {
      width: 95%;
      height: 95%;
      padding: 45px 20px; } }
  @media screen and (max-width: 508px) {
    .b-modal__inner {
      width: 100%;
      height: 100%;
      padding: 40px 15px; } }

.b-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 35px;
  margin-top: 35px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.body_overfloy-hidden {
  overflow: hidden;
  padding-right: 17px; }
  @media screen and (max-width: 780px) {
    .body_overfloy-hidden {
      padding-right: inherit; } }

/*# sourceMappingURL=main.css.map */
