.b-menu {
}
.b-menu > ul {
  @include flex-row;
  @include row;
}
.b-menu > ul > li {
  @include before {
    display: none;
  }
  color: $darkColor;
  @include fz(13px, 16px);
  font-weight: 400;
}
.b-menu > ul > li.active {
  @include after {
    position: absolute;
    width: calc(100% - #{$offset * 2});
    height: 1px;
    background-color: $accentColor;
    top: 100%;
    left: #{$offset};
  }
}
.b-menu > ul > li > a,
.b-menu > ul > li > span {
  display: block;
  @include p-full;
  @include inh;
}
.b-menu > ul > li > ul {
}
.b-menu > ul > li > ul > li {
  @include before {
    display: none;
  }
}
.b-menu > ul > li > ul > li > a,
.b-menu > ul > li > ul > li > span {
}
