.b-button {
}
.b-button_bg-accent {
  background-color: $accentColor;
}
.b-button_light {
  color: $lightColor;
}
.b-button_fz-norm {
  @include fz(13px, 16px);
}
.b-button_radius {
  border-radius: 5px;
}
